<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recipes.mapper.CpRatingMapper">

    <resultMap type="com.example.recipes.domain.CpRating" id="CpRatingResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="foodId"    column="food_id"    />
        <result property="rating"    column="rating"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectCpRatingVo">
        select id, username, food_id, rating, del_flag, create_time, create_by, update_time, update_by from cp_rating
    </sql>

    <select id="selectCpRatingList" parameterType="com.example.recipes.domain.CpRating" resultMap="CpRatingResult">
        <include refid="selectCpRatingVo"/>
        <where>del_flag='0'
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="foodId != null "> and food_id = #{foodId}</if>
            <if test="rating != null "> and rating = #{rating}</if>
        </where>
    </select>

    <select id="selectCpRatingById" parameterType="long" resultMap="CpRatingResult">
        <include refid="selectCpRatingVo"/>
        where del_flag='0' and id = #{id}
    </select>

    <insert id="insertCpRating" parameterType="com.example.recipes.domain.CpRating" useGeneratedKeys="true" keyProperty="id">
        insert into cp_rating
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">username,</if>
            <if test="foodId != null">food_id,</if>
            <if test="rating != null">rating,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username},</if>
            <if test="foodId != null">#{foodId},</if>
            <if test="rating != null">#{rating},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateCpRating" parameterType="com.example.recipes.domain.CpRating">
        update cp_rating
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">username = #{username},</if>
            <if test="foodId != null">food_id = #{foodId},</if>
            <if test="rating != null">rating = #{rating},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCpRatingById" parameterType="long">
        update cp_rating set del_flag='2' where id = #{id}
    </delete>

    <delete id="deleteCpRatingByIds" parameterType="long">
        update cp_rating set del_flag='2' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findRatingsByUsername" parameterType="string" resultMap="CpRatingResult">
        <include refid="selectCpRatingVo"/>
        where del_flag='0' and username = #{username}
    </select>

    <select id="selectFoodIdsByUsername" parameterType="string" resultType="long">
        select food_id from cp_rating
        where del_flag='0' and username = #{username}
    </select>

    <select id="selectCpRatingByUser" resultMap="CpRatingResult">
        <include refid="selectCpRatingVo"/>
        where del_flag='0' and food_id = #{foodId} and username = #{username}
    </select>
</mapper>